@import url('https://fonts.googleapis.com/css?family=Dosis|Oswald');

body {
  background-color: #f0f0f0;
  color: #09326F;
  font-family: "Dosis", serif;
}

h1, h2, h3, h4, h5, h6, button {
  font-family: "Oswald", sans-serif;
}

p {
  font-size: 18px;
}

footer {
  margin-top: 50px;
}

.flexcontainer-right {
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-justify-content: flex-end;
   justify-content: flex-end;
}

.download-button {
  height: 75px;
  width: 75%;
  margin-top: 15px;
  margin-bottom: 10px;
  margin-right: 20px;
  font-size: 24px;
}

.dfars-banner {
  width: 100%;
  max-width: 2000px;
  position: relative;
  background-color: #09326F;
}

.dfars-banner .static {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 0;
}

.dfars-banner .gif {
  width: 63%;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 10.8%;
  top: 20%;
}

.compliance-countdown {
  font-size: 32px;
  padding: 5px 0px;
  margin-top: 50px;
  margin-bottom: 10px;
  border-radius: 25px;
  box-shadow: 2px 2px 26px 0px rgba(0,0,0,0.75);
}

#countdown {
  font-size: 115%;
}

.sos-video {
  display: block;
  margin: 0 auto;
  width: 100%;
}

.sos-video iframe {
  width: 100%;
}

/* Extra small devices (phones, less than 768px) are the default */

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .download-button {
    height: 75px;
    width: 60%;
    font-size: 32px;
  }

  .compliance-countdown {
    width: 75%;
    font-size: 42px;
  }

  .sos-video {
    width: 75%;
  }
}

.modal {
  color: #000000;
  text-align: center;
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .download-button {
    height: 75px;
    width: 50%;
    font-size: 36px;
  }

  .compliance-countdown {
    width: 75%;
    margin-bottom: 50px;
  }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .download-button {
    height: 75px;
    width: 40%;
    font-size: 40px;
  }

  .compliance-countdown {
    width: 60%;
    margin-bottom: 60px;
  }

  .sos-video {
    width: 60%;
  }
}
